<div class='ally'>
<h1><marquee width = "20%">๛ Github Searcher</marquee></h1>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-heading">
      <a class="navbar-brand" href="#">Github Search</a>
    </div>
    <a routerLink='/my-profile' routerLinkActive='active'>My Profile</a>
  </div>
</nav>
</div>
<router-outlet></router-outlet>
<br>
<div class='finito'>
<h1>Visit</h1> <h1><a href="github.com"><marquee width='20%'>Github by clicking here</marquee></a></h1><h1>To learn more!</h1>
</div>