.navbar {
  margin-bottom: 30px;
  border: 1px solid rgb(59, 65, 70);
  border-radius: 5px;
  background-color: rgb(59, 65, 70);
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  width: 100%;
  padding: 5px;
  background-color: rgb(59, 65, 70);
}

.ally{
  background-color: rgb(59, 65, 70);
}

.finito{
  background-color: rgb(59, 65, 70);
}

a{
  color:white;
  text-decoration: none;
}
a.hover{
  color: black;
  font-size: 24px;
}