<h1 class="header">Github Search</h1>

<div class="container-fluid">
  <br>


  <br>
  <form action="">
    <div class="form-group">
    
    </div>
    <br>
    <div id="userprofile">
      <ul class="ul">
        <li>Name is <b>{{user.name}}</b> and Github username is <b>{{user.login}}</b></li>
        <li>Has <b>{{user.public_repos}} </b>repositories</li>
        <li>Has <b>{{user.followers}}</b> followers</li>
        <li>Following <b>{{user.following}}</b></li>
      </ul>

    </div>
  </form>