<h1 class="header">Github Search</h1>

<div class="container-fluid">
  <br>


  <br>
  <form action="">
    <div class="form-group">

    </div>
    <br>
    <div id="userprofile">
      <ul class="ul">
        <li>Name is <b>{{user.name}}</b> and Github username is <b>{{user.login}}</b></li>
        <li>Has <b>{{user.public_repos}} </b>repositories</li>
        <li>Has <b>{{user.followers}}</b> followers</li>
        <li>Following <b>{{user.following}}</b></li>
      </ul>

    </div>
  </form>
  <br>
  <div *ngIf="user">
    <div class="panel panel-default">
      <div class="panel-heading" id="heading">
        <p class="names"><span class="glyphicon glyphicon-user"></span> &nbsp; {{user.login}}
          &nbsp;<small>({{user.name}})</small></p>
      </div>
      <div class="panel-body" id="body">
        <div class="row">
          <div class="col-sm-3">
            <img src="{{user.avatar_url}}" class="img-circle" alt="">
          </div>